*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* Content */

.content {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  width: 1140px;
  align-items: end;
}

.content__list {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  background-position: center;
  align-self: end;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  margin: 2px;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-right: 5px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

/* Search */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):has(:hover) {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 225px;
  padding: 2.5px 0 2.5px 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
  appearance: none;
}

.search-form__textfield:active {
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  border: 2px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #fff;
  outline-offset: -1px;
}

/* Video */

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Button */

.button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
} 

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 100%;
}